.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.ChangelogContainer {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 60%;
}