.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Darkened { 
	text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background: rgb(190, 190, 190); */
}

.ChangelogModal {
	width: 70%;
	height: 70vh;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.308);
	background: white;
}

.ChangelogItem {
	position: relative;
	padding: 20px;
	top: 50px;
	width: 80%;
	margin: auto;
}

.CloseModalButton {
	position: relative;
	top: 20px;
	right: -325px;
	border: none;
	background: transparent;
}

.ProfileButton {
	position: fixed;
	top: 20px;
	right: 20px;
	border: none;
	background: transparent;
}

.ProfileIcon {
	width: 60px;
	height: 60px;
	border-radius: 25%;
}

.SeparatorLine {
	border: 1px solid gray;
	width: 100%;
}